<div class="row" ng-if="requestListService.getCurrent()">
	<div class="col-md-12" ng-controller="RequestController">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="container-fluid">
					<div class="row">
						<div class="pull-right">
							<button class="btn btn-sm btn-primary" ng-click="requestListService.setCurrent(null)">
								<span class="glyphicon glyphicon-list"></span>
							</button>
							<button class="btn btn-sm btn-primary" ng-class="{disabled: isPrevRequestDisabled()}" ng-click="prevRequest()">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</button>
							<button class="btn btn-sm btn-primary" ng-class="{disabled: isNextRequestDisabled()}" ng-click="nextRequest()">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</button>
						</div>
						<h5>{{requestListService.getCurrent().name}}</h5>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<form name="mockRequestForm" novalidate>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<uib-tabset>
									<uib-tab heading="#">
										<br/>
										<div class="row" ng-class="getErrorStyle(mockRequestForm.requestName)">
											<div class="col-xs-2">
												<label>Name</label>
											</div>
											<div class="col-xs-10">
												<input name="requestName" id="requestName" ng-model="requestListService.getCurrent().name"
													   class="form-control" required aria-describedby="sizing-addon1">
												<p ng-show="hasError(mockRequestForm.requestName)" class="help-block">Name is required.</p>
											</div>
										</div>

										<hr/>

										<div class="row">
											<div class="col-xs-2">
												<label>Latency</label>
												<span ng-show="hasLatencyOnGroupLevel()" class="glyphicon glyphicon-info-sign btn-md text-info" tooltip-placement="bottom"
													  uib-tooltip="Latency already set on the group level. Its value can be overridden."></span>
											</div>
											<div class="col-xs-10">
												<div class="form-group">
													<div class="btn-group" id="isRange">
														<label class="btn btn-default" ng-model="requestListService.getCurrent().latencyType" uib-btn-radio="null"
															   ng-class="{'btn-success' : isLatencyTypeNotNull()}">Inherited</label>
														<label class="btn btn-default" ng-model="requestListService.getCurrent().latencyType" uib-btn-radio="true"
															   ng-class="{'btn-success' : isLatencyTypeNotNull()}">Fixed</label>
														<label class="btn btn-default" ng-model="requestListService.getCurrent().latencyType" uib-btn-radio="false"
															   ng-class="{'btn-success' : isLatencyTypeNotNull()}">Range</label>
													</div>
												</div>
												<div class="form-group" ng-show="isLatencyTypeNotNull()">
													<div class="form-inline">
														<span ng-show="requestListService.getCurrent().latencyType">
															<input ng-model="requestListService.getCurrent().latency.fixed" class="form-control"
																   placeholder="value" aria-describedby="sizing-addon1" />
														</span>
														<span ng-show="!requestListService.getCurrent().latencyType">
															<input ng-model="requestListService.getCurrent().latency.min" class="form-control"
																   placeholder="min" aria-describedby="sizing-addon1" />
															<input ng-model="requestListService.getCurrent().latency.max" class="form-control"
																   placeholder="max" aria-describedby="sizing-addon1" />
														</span>
														ms
													</div>
												</div>
											</div>
										</div>

										<div ng-if="requestListService.getCurrent().id">
											<hr/>

											<div class="row">
												<div class="col-xs-2">
													<label>Creation date</label>
												</div>
												<div class="col-xs-10">
													{{requestListService.getCurrent().creationDate | date:'dd-MM-yyyy HH:mm:ss'}}
												</div>
											</div>

											<hr/>

											<div class="row">
												<div class="col-xs-2">
													<label>Unique code</label>
												</div>
												<div class="col-xs-10">
													{{requestListService.getCurrent().code}}
												</div>
											</div>

											<hr/>

											<div class="row">
												<div class="col-xs-2">
													<label>cURL</label>
												</div>
												<div class="col-xs-10">
													<section class="section-table">
													<textarea readonly="true" class="form-control" id="curlCommand"
															  aria-describedby="sizing-addon1" rows="10">{{getCURL()}}</textarea>
													</section>
													<div class="form-group">
													<button class="curlCommand btn-warning btn-sm" data-clipboard-target="#curlCommand">
														<span class="glyphicon glyphicon-duplicate"></span> Copy to clipboard
													</button>
													<span ng-class="{'text-danger': clipboardMessage.failure}">{{clipboardMessage.text}}</span>
													</div>
												</div>
											</div>
										</div>
									</uib-tab>

									<uib-tab heading="Path">
										<br/>

										<label>Path</label>
										<br/>

										<div class="input-group">
											<div class="input-group-btn">
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
													{{requestListService.getCurrent().method}} <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li ng-repeat="method in requestMethods">
														<a href ng-click="selectMethod(method)">{{method}}</a>
													</li>
												</ul>
											</div>
											<span class="input-group-addon">/</span>
											<input name="url" id="url" ng-model="requestListService.getCurrent().path.value"
												   class="form-control" aria-describedby="sizing-addon1" placeholder="Path" />
										</div>

										<hr/>

										<label>Transformers</label>
										<br/>
										<div ng-repeat="pathTransformer in requestListService.getCurrent().path.transformers">
											<div class="row">
												<div class="form-group col-xs-5">
													<input ng-model="pathTransformer.pattern" class="form-control"
														   aria-describedby="sizing-addon1" placeholder="Search for (string or regexp)" />
												</div>
												<div class="form-group col-xs-6">
													<input ng-model="pathTransformer.replacement" class="form-control"
														   aria-describedby="sizing-addon1" placeholder="Replace with" />
												</div>
												<div class="form-group col-xs-1" ng-if="isManagerOrAdmin(user.role)">
													<button class="btn-danger btn-sm" ng-click="deleteTransformer($index, requestListService.getCurrent().path.transformers)">
														<span class="glyphicon glyphicon-trash"></span>
													</button>
												</div>
											</div>
										</div>
										<a href ng-click="addPathTransformer()">Add transformer</a>
									</uib-tab>

									<uib-tab heading="Parameters">
										<br/>

										<label>Parameters</label>
										<br/>
										<div class="row" ng-repeat="parameter in requestListService.getCurrent().parameters.values track by $index">
											<div class="form-group col-xs-4">
												<input ng-model="parameter.key" class="form-control"
													   aria-describedby="sizing-addon1" placeholder="Parameter" />
											</div>
											<div class="form-group col-xs-7">
												<input ng-model="parameter.value" class="form-control"
													   aria-describedby="sizing-addon1" placeholder="Value" />
											</div>
											<div class="form-group col-xs-1" ng-if="isManagerOrAdmin(user.role)">
												<button class="btn-danger btn-sm" ng-click="deleteElement($index, getParams(), 'parameter')">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</div>
										</div>
										<a href ng-click="addParameter()">Add parameter</a>

										<hr/>

										<label>Transformers</label>
										<br/>
										<div ng-repeat="paramTransformer in requestListService.getCurrent().parameters.transformers">
											<div class="row">
												<div class="form-group col-xs-3">
													<input ng-model="paramTransformer.key" class="form-control"
														   aria-describedby="sizing-addon1" placeholder="Parameter name" />
												</div>
												<div class="form-group col-xs-4">
													<input ng-model="paramTransformer.pattern" class="form-control"
														   aria-describedby="sizing-addon1" placeholder="Search for (string or regexp)" />
												</div>
												<div class="form-group col-xs-4">
													<input ng-model="paramTransformer.replacement" class="form-control"
														   aria-describedby="sizing-addon1" placeholder="Replace with" />
												</div>
												<div class="form-group col-xs-1" ng-if="isManagerOrAdmin(user.role)">
													<button class="btn-danger btn-sm" ng-click="deleteTransformer($index, requestListService.getCurrent().parameters.transformers)">
														<span class="glyphicon glyphicon-trash"></span>
													</button>
												</div>
											</div>
										</div>
										<a href ng-click="addParamTransformer()">Add transformer</a>
									</uib-tab>

									<uib-tab heading="Headers">
										<br/>

										<label>Headers</label>
										<br/>
										<div class="row" ng-repeat="requestHeader in requestListService.getCurrent().headers.values track by $index">
											<div class="form-group col-xs-4">
												<input uib-typeahead="header for header in headerList | filter:$viewValue | limitTo:10"
													   type="text" ng-model="requestHeader.key" class="form-control"
													   aria-describedby="sizing-addon1" placeholder="Header name" />
											</div>
											<div class="form-group col-xs-7">
												<input type="text" ng-model="requestHeader.value" class="form-control"
													   aria-describedby="sizing-addon1" placeholder="Value" />
											</div>
											<div class="form-group col-xs-1" ng-if="isManagerOrAdmin(user.role)">
												<button class="btn-danger btn-sm" ng-click="deleteHeader($index, requestListService.getCurrent().headers.values)">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</div>
										</div>
										<a href ng-click="addRequestHeader()">Add header</a>

										<hr/>

										<label>Transformers</label>
										<br/>
										<div ng-repeat="headerTransformer in requestListService.getCurrent().headers.transformers">
											<div class="row">
												<div class="form-group col-xs-3">
													<input type="text" ng-model="headerTransformer.key" class="form-control"
														   aria-describedby="sizing-addon1" placeholder="Header name" />
												</div>
												<div class="form-group col-xs-4">
													<input type="text" ng-model="headerTransformer.pattern" class="form-control"
														   aria-describedby="sizing-addon1" placeholder="Search for (string or regexp)" />
												</div>
												<div class="form-group col-xs-4">
													<input type="text" ng-model="headerTransformer.replacement" class="form-control"
														   aria-describedby="sizing-addon1" placeholder="Replace with" />
												</div>
												<div class="form-group col-xs-1" ng-if="isManagerOrAdmin(user.role)">
													<button class="btn-danger btn-sm" ng-click="deleteTransformer($index, requestListService.getCurrent().headers.transformers)">
														<span class="glyphicon glyphicon-trash"></span>
													</button>
												</div>
											</div>
										</div>
										<a href ng-click="addHeaderTransformer()">Add transformer</a>
									</uib-tab>

									<uib-tab heading="Request body" disable="isRequestTabDisabled()" ng-click="onRequestTabClick()">
										<br/>

										<label>Transformers</label>
										<br/>

										<div ng-repeat="bodyTransformer in requestListService.getCurrent().body.transformers">
											<div class="row">
												<div class="form-group col-xs-3">
													<select ng-model="bodyTransformer.type" required class="form-control">
														<option ng-repeat="typeName in bodyTransformerTypes">{{typeName}}</option>
													</select>
												</div>
												<div class="form-group col-xs-4">
													<input type="text" ng-model="bodyTransformer.pattern" class="form-control"
														   aria-describedby="sizing-addon1" placeholder="Search for (string or regexp)">
												</div>
												<div class="form-group col-xs-4">
													<input type="text" ng-model="bodyTransformer.replacement" class="form-control"
														   aria-describedby="sizing-addon1" placeholder="Replace with">
												</div>
												<div class="form-group col-xs-1" ng-if="isManagerOrAdmin(user.role)">
													<button class="btn-danger btn-sm" ng-click="deleteTransformer($index, requestListService.getCurrent().body.transformers)">
														<span class="glyphicon glyphicon-trash"></span>
													</button>
												</div>
											</div>
											<div ng-show="isXPathTransformer(bodyTransformer)">
												<div class="row" ng-repeat="namespace in bodyTransformer.namespaces">
													<div class="form-group col-xs-3">
														<input type="text" ng-model="namespace.key" class="form-control"
															   aria-describedby="sizing-addon1" placeholder="Namespace prefix">
													</div>
													<div class="form-group col-xs-8">
														<input type="text" ng-model="namespace.value" class="form-control"
															   aria-describedby="sizing-addon1" placeholder="Namespace URI">
													</div>
													<div class="form-group col-xs-1" ng-if="isManagerOrAdmin(user.role)">
														<button class="btn-danger btn-sm" ng-click="deleteElement($index, bodyTransformer.namespaces, 'namespace')">
															<span class="glyphicon glyphicon-trash"></span>
														</button>
													</div>
												</div>
												<a href ng-click="addXPathNamespace(bodyTransformer)">Add namespace</a>
											</div>
											<p></p>
										</div>
										<a href ng-click="addRequestBodyTransformer()">Add transformer</a>

										<hr/>

										<label for="requestBody">Request body</label>
										<br/>
										<div class="row">
											<div class="form-group col-xs-12">
												<section class="section-table">
													<textarea ui-codemirror="cmOptionRequest" ui-refresh="cmRefreshRequest"
															  ng-model="requestListService.getCurrent().body.value"
															  name="requestBody" id="requestBody" class="form-control"
															  aria-describedby="sizing-addon1" rows="30"></textarea>


												</section>
												<div class="form-group">
													<button class="btn btn-sm btn-primary" ng-class="{'btn-warning' : prettyModel.Request.xml}"
															ng-click="prettify('Request', 'xml')" type="button">
														<span class="glyphicon glyphicon-list-alt"></span> XML
													</button>
													<button class="btn btn-sm btn-primary"  ng-class="{'btn-warning' : prettyModel.Request.json}"
															ng-click="prettify('Request', 'json')" type="button">
														<span class="glyphicon glyphicon-list-alt"></span> JSON
													</button>
												</div>
											</div>
										</div>
									</uib-tab>

									<uib-tab heading="Response" ng-click="onResponseTabClick()">
										<br/>

										<label>Headers</label>
										<br/>

										<div class="row" ng-repeat="responseHeader in requestListService.getCurrent().mockResponse.headers track by $index">
											<div class="form-group col-xs-4">
												<input uib-typeahead="header for header in headerList | filter:$viewValue | limitTo:10" class="form-control"
													   ng-model="responseHeader.key" aria-describedby="sizing-addon1" placeholder="Header name" />
											</div>
											<div class="form-group col-xs-7">
												<input ng-model="responseHeader.value" class="form-control" aria-describedby="sizing-addon1" placeholder="Value" />
											</div>
											<div class="form-group col-xs-1" ng-if="isManagerOrAdmin(user.role)">
												<button class="btn-danger btn-sm" ng-click="deleteHeader($index, requestListService.getCurrent().mockResponse.headers)">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</div>
										</div>
										<a href ng-click="addResponseHeader()">Add header</a>

										<hr/>

										<label>HTTP status code</label>
										<br/>

										<div class="row" ng-class="getErrorStyle(mockRequestForm.httpStatus)">
											<div class="form-group col-xs-12">
												<input name="httpStatus" id="httpStatus" class="form-control"
													   ng-model="requestListService.getCurrent().mockResponse.httpStatus"
													   aria-describedby="sizing-addon1" ng-pattern="/^[0-9]{3}$/" required>

												<div ng-show="hasError(mockRequestForm.httpStatus)">
													<p ng-show="mockRequestForm.httpStatus.$error.required" class="help-block">HTTP status code is required</p>
													<p ng-show="mockRequestForm.httpStatus.$error.pattern" class="help-block">Must be 3 digits long</p>
												</div>
											</div>
										</div>

										<hr/>

										<label for="requestBody">Response body</label>
										<br/>
										<div class="row">
											<div class="form-group col-xs-12">
												<section class="section-table">
													<textarea ui-codemirror="cmOptionResponse" ui-refresh="cmRefreshResponse"
															  ng-model="requestListService.getCurrent().mockResponse.body"
															  name="responseBody" id="responseBody" class="form-control"
															  aria-describedby="sizing-addon1" rows="10"></textarea>


												</section>
												<div class="form-group">
													<button class="btn btn-sm btn-primary" ng-class="{'btn-warning' : prettyModel.Response.xml}"
															ng-click="prettify('Response', 'xml')" type="button">
														<span class="glyphicon glyphicon-list-alt"></span> XML
													</button>
													<button class="btn btn-sm btn-primary"  ng-class="{'btn-warning' : prettyModel.Response.json}"
															ng-click="prettify('Response', 'json')" type="button">
														<span class="glyphicon glyphicon-list-alt"></span> JSON
													</button>
												</div>
											</div>
										</div>
									</uib-tab>
								</uib-tabset>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer" ng-if="isManagerOrAdmin(user.role)">
				<div class="pull-right">
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="requestListService.setCurrent(null)">Cancel</button>
					<button type="button" class="btn btn-primary" ng-disabled="projectForm.$invalid" ng-click="saveRequest(requestListService.getCurrent())">Save</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>