<div class="well well-sm">

    <div class="container-fluid">
        <div class="media col-md-3">
            <div class="media-left media-middle">
                <img src="assets/images/logo.jpg" />
            </div>
            <div class="media-body">
                <h4>Mockenger</h4>
            </div>
        </div>

        <div class="col-md-6">
            <h4>
                <div class="pull-right" ng-if="user.username">
                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="well-sm">{{user.firstName}} {{user.lastName}}</li>
                        <li role="separator" class="divider"></li>
                        <li class="well-sm">
                            <button type="button" class="btn btn-warning btn-sm" ng-click="signOut()">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                Sign out
                            </button>
                        </li>
                    </ul>
                </div>

                <a href="/#/index">Home</a>
                |
                <a href="/#/stat">Statistics</a>
                <span ng-if="isAdmin(user.role)">
                    |
                    <a href="/#/admin">Admin panel</a>
                </span>
            </h4>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-3">&nbsp;</div>
    </div>
</div>