<mkngr-navbar></mkngr-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div id="group-list">

                <div class="list-group">
                    <a href ng-repeat="group in groupsList track by $index" class="list-group-item"
                       ng-class="{active: group.name === currentGroup.name}"
                       ng-click="loadGroupRequests(group)">{{group.name}}
                        <span ng-show="!group.recording" class="label label-info">Not recording</span>
                        <span ng-show="group.recording" class="label label-danger">Recording</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            <div ng-if="currentGroup" class="panel panel-primary">
                <div class="panel-body">


                    <form class="form-inline">
                        <div class="form-group">
                            <label for="searchRequests">Search</label>
                            <input type="search" ng-model="requestsList.requestQuery" class="form-control"
                                   id="searchRequests">
                        </div>
                        <div class="form-group">
                            <label for="orderRequests">Order by</label>
                            <select ng-model="requestsList.orderProp" id="orderRequests" class="form-control">
                                <option value="name">Name</option>
                                <option value="method">Method</option>
                            </select>
                        </div>
                    </form>
                    <br/>

                    <div ng-if="requestsList.paginator.pageCount() < 0" class="alert alert-info" role="alert">
                        No results
                    </div>

                </div>

                <table class="table table-striped table-hover" ng-if="requestsList.paginator.pageCount() >=0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Path</th>
                        <th>Method</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-class="{info: request.id == currentRequest.id}" ng-repeat="request in requestsList.data  | filter:requestsList.requestQuery | orderBy:requestsList.orderProp | offset: requestsList.paginator.currentPage * requestsList.paginator.itemsPerPage |
        limitTo: requestsList.paginator.itemsPerPage track by $index " ng-click="requestsList.selectRequest(request)">
                        <td>{{request.name}}</td>
                        <td>{{request.method}}</td>
                        <td>@{{request.path.value}}</td>
                    </tr>

                    </tbody>
                </table>

                <div class="panel-footer">
                    <div ng-show="requestsList.paginator.pageCount() >= 0">
                        Current page: {{requestsList.paginator.currentPage + 1}} Total pages:
                        {{requestsList.paginator.pageCount() + 1}}
                        <nav ng-show="requestsList.paginator.pageCount() > 0">
                            <ul class="pagination">
                                <li ng-class="requestsList.paginator.prevPageDisabled()">
                                    <a href ng-click="requestsList.paginator.prevPage()" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <li ng-repeat="n in requestsList.paginator.range()"
                                    ng-class="{active: n == requestsList.paginator.currentPage}">
                                    <a href ng-click="requestsList.paginator.setPage(n)">{{n+1}}</a>
                                </li>

                                <li ng-class="requestsList.paginator.nextPageDisabled()">
                                    <a href ng-click="requestsList.paginator.nextPage()" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <div ng-if="!currentGroup" class="alert alert-info" role="alert">
                Please select a group
            </div>
        </div>
    </div>

    <div class="row" ng-show="currentGroup">
        <div class="col-md-12">

            <div ng-if="currentRequest" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{currentRequest.name}}</h3>
                </div>

                <div class="panel-body">
                    {{currentRequest.body}}
                </div>
            </div>

            <div ng-if="!currentRequest" class="alert alert-info" role="alert">
                Please select a request
            </div>
        </div>
    </div>
</div>

