<mkngr-navbar></mkngr-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

            <div id="group-list" ng-if="!currentGroup">
                <div class="list-group">
                    <a href ng-repeat="group in groupsList track by $index" class="list-group-item"
                       ng-class="{active: group.name === currentGroup.name}"
                       ng-click="loadGroupRequests(group)">{{group.name}}
                        <span ng-show="!group.recording" class="label label-info">Not recording</span>
                        <span ng-show="group.recording" class="label label-danger">Recording</span>
                    </a>
                </div>
            </div>

            <div id="requests-panel" ng-if="currentGroup" class="panel panel-primary">
                <div class="panel-body">
                    <h4>{{currentGroup.name}}
                        <span ng-show="!currentGroup.recording" class="label label-info">Not recording</span>
                        <span ng-show="currentGroup.recording" class="label label-danger">Recording</span>

                        <small><a href ng-click="deselectCurrentGroup()">(Change)</a></small></h4>
                    <hr/>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="searchRequests">Search</label>
                            <input type="search" ng-model="requestsList.requestQuery" class="form-control"
                                   id="searchRequests">
                        </div>
                        <div class="form-group">
                            <label for="orderRequests">Order by</label>
                            <select ng-model="requestsList.orderProp" id="orderRequests" class="form-control">
                                <option value="name">Name</option>
                                <option value="method">Method</option>
                            </select>
                        </div>
                    </form>
                    <br/>

                    <div ng-if="requestsList.paginator.pageCount() < 0" class="alert alert-info" role="alert">
                        No results
                    </div>

                </div>


                <div class="list-group"  ng-if="requestsList.paginator.pageCount() >=0">
                    <a href class="list-group-item" ng-class="{active: request.id == currentRequest.id}"
                       ng-repeat="request in requestsList.data  | filter:requestsList.requestQuery | orderBy:requestsList.orderProp | offset: requestsList.paginator.currentPage * requestsList.paginator.itemsPerPage |
        limitTo: requestsList.paginator.itemsPerPage track by $index" ng-click="requestsList.selectRequest(request)">
                        <span class="badge">{{request.method}}</span>
                        <h4 class="list-group-item-heading">{{request.name}}</h4>
                        <p class="list-group-item-text">{{request.path.value}}</p>

                    </a>
                </div>


                <div class="panel-footer">
                    <div ng-show="requestsList.paginator.pageCount() >= 0">
                        Current page: {{requestsList.paginator.currentPage + 1}} Total pages:
                        {{requestsList.paginator.pageCount() + 1}}
                        <nav ng-show="requestsList.paginator.pageCount() > 0">
                            <ul class="pagination">
                                <li ng-class="requestsList.paginator.prevPageDisabled()">
                                    <a href ng-click="requestsList.paginator.prevPage()" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <li ng-repeat="n in requestsList.paginator.range()"
                                    ng-class="{active: n == requestsList.paginator.currentPage}">
                                    <a href ng-click="requestsList.paginator.setPage(n)">{{n+1}}</a>
                                </li>

                                <li ng-class="requestsList.paginator.nextPageDisabled()">
                                    <a href ng-click="requestsList.paginator.nextPage()" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>


        </div>

        <div class="col-md-9">
            <div ng-if="currentRequest" class="panel panel-info">
                <div class="panel-heading">{{currentRequest.name}}</div>
                <div class="panel-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon" id="sizing-addon1">{{currentRequest.method}}</span>
                                    <input type="text" class="form-control" aria-describedby="sizing-addon1" ng-value="currentRequest.path.value" readonly="readonly" />
                                </div>
                                <br/>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">


                                <ul class="nav nav-tabs nav-justified">
                                    <li role="presentation" ng-class="{active : isHeadersRequestViewActive()}"><a href ng-click="setHeadersRequestView()">Headers</a></li>
                                    <li role="presentation" ng-class="{active : isParamsRequestViewActive()}"><a href ng-click="setParamsRequestView()">Parameters</a></li>
                                    <li role="presentation" ng-class="{active : isBodyRequestViewActive()}"><a href ng-click="setBodyRequestView()">Body</a></li>
                                </ul>

                                {{currentRequestView}}
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel"
     ng-controller="requestController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="requestModalLabel">{{currentRequest.name}}</h4>
            </div>
            <div class="modal-body">
                {{currentRequest.body}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
