<!-- Modal for events -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventLabel" ng-controller="EventController">
	<div class="modal-lg modal-dialog" role="document">
		<div class="modal-content">
			<form name="groupForm" novalidate>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="requestModalLabel">Event information</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<textarea id="fullObject" readonly="true" class="form-control"
								  aria-describedby="sizing-addon1" rows="20">{{requestEvent.entity | json}}</textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>