<div class=" row">
	<div class="col-xs-3">
		<div class="dropdown dropdown-start-parent">
			<a class="dropdown-toggle" id="dropdownStart" data-toggle="dropdown" data-target=".dropdown-start-parent" href>
				<div class="input-group">
					<input class="form-control" data-date-time-input="DD-MM-YYYY HH:mm:ss" readonly="true"
						   data-ng-model="dp.dateRangeStart" placeholder="Start date" />
					<span class="input-group-addon">
											<i class="glyphicon glyphicon-calendar"></i>
										</span>
				</div>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<datetimepicker data-ng-model="dp.dateRangeStart"
								data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
								data-on-set-time="startDateOnSetTime(newDate, oldDate)"
								data-before-render="startDateBeforeRender($dates)"></datetimepicker>
			</ul>
		</div>
	</div>

	<div class="col-xs-3">
		<div class="dropdown dropdown-end-parent">
			<a class="dropdown-toggle" id="dropdownEnd" data-toggle="dropdown" data-target=".dropdown-end-parent" href>
				<div class="input-group date">
					<input class="form-control" data-date-time-input="DD-MM-YYYY HH:mm:ss" readonly="true"
						   data-ng-model="dp.dateRangeEnd" placeholder="End date">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<datetimepicker data-ng-model="dp.dateRangeEnd"
								data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
								data-on-set-time="endDateOnSetTime()"
								data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
			</ul>
		</div>
	</div>
	<div class="col-xs-2">
		<button type="button" class="btn btn-warning" ng-click="updateEventList(0)">
			<i class="glyphicon glyphicon-search"></i>
		</button>
		<button type="button" class="btn btn-danger" ng-click="cleanSearchFilter()">
			<i class="glyphicon glyphicon-remove"></i>
		</button>
	</div>
</div>